
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title> Detrect ChatGTP</title>
</head>
<body>
    <header class="header">
        <%- include('../partials/header'); %>
    </header>

    <main class="main">
        <%- include('../partials/main-body')  %>
    </main>
    
    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>



</body>
</html>